%section.team
  .wrapper
    .section-title
      %h2
        Наша команда

    .team
      .member
        .avatar
          = image_tag ('team_member_1.jpg')
        .name
          Константин Тишкин
        .state
          Основатель
        .about
          Опыт работы в съемке сюжетов,
          коорперативных фильмов и продающих
          видеороликов более 5 лет. Автор более
          30 статей, посвященных видео маркетингу


      .member
        .avatar
          = image_tag ('team_member_2.jpg')
        .name
          Данил Сысков
        .state
          Копирайтер
        .about
          Копирайтер с 5 летним опытом.
          Автор книги "Тексты, приносящие деньги"


      .member.last
        .avatar
          = image_tag ('team_member_3.jpg')
        .name
          Никита Ордынский
        .state
          Режиссер/Оператор
        .about
          Выпускник факультета режиссуры
          Московского Института Телевидения
          и Радиовещания "Останкино" МИТРО.
          Автор фильма " На своей волне"


      .member
        .avatar
          = image_tag ('team_member_4.jpg')
        .name
          Кирилл Агатов
        .state
          Маркетолог
        .about
          Основатель агентсва интернет-маркетинга "Абардача".
          Опыт работы более двух лет в маркетинге,
          мастер в  создании продающих презентаций.


      .member
        .avatar
          = image_tag ('team_member_5.jpg')
        .name
          Алексей Суходольский
        .state
          Монтажер/Оператор
        .about
          На профессиональном уровне владеет
          Final Cut и Adobe Premier и более 5
          программ по созданию 2D и 3D
          графики и видео эффектов.


      .member.last
        .avatar
          = image_tag ('team_member_6.jpg')
        .name
          Даниил Ткаченко
        .state
          Дизайн/Графика
        .about
          Дизайнер с 5 летним опытом работы.
          Сайт, который вы видите и нарисованная
          графика в наших видеороликах сделал он!