!!! 5
%html
  %head
    = stylesheet_link_tag    'application', :media => 'all'
    = csrf_meta_tags
    = javascript_include_tag 'application'
    %title
      Реклама на Youtube
  %body
    = yield
    = render 'layouts/metrika'